<?xml version="1.0" encoding="utf-8"?>
<manifest package="mmpud.project.daycountwidget"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="mmpud.project.daycountwidget.DayCountApplication"
        android:allowBackup="true"
        android:icon="@drawable/widget_preview"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--android:allowBackup="false"-->
        <!--android:debuggable="false"-->

        <activity
            android:name="mmpud.project.daycountwidget.DayCountMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="mmpud.project.daycountwidget.DayCountWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.WIDGET_UPDATE_ALL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/day_count_widget_provider_info" />
        </receiver>

        <receiver
            android:name="mmpud.project.daycountwidget.OnBootCompletedReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="mmpud.project.daycountwidget.DayCountConfigure"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="mmpud.project.daycountwidget.DayCountDetail"
            android:excludeFromRecents="true" />

    </application>

</manifest>
